.container{
    margin:  0 auto;
    padding: 10px;
    border:  1px solid #333;
}
.image-slider-wrapper{
    position:relative;
    overflow: hidden;
    margin: 0;
}
.image_slider{
    position: absolute;
    overflow: hidden;
    height: 100%;
    padding:0;
    margin: 0;
}
.image_slider li{
    position:relative;
    max-width: 100%;
    list-style: none;
    left: 0;
}

.navigation{
    margin: 15px 0 0;
    height: 60px;
}
.image-box{
    position: relative;
    overflow: hidden;
    height: 100%;
    padding: 0;
    margin: 0 22px;
}
.all-images{
    position: absolute;
    text-align: center;
    padding: 0;
    margin: 0;
}
.all-images img{
    height: 60px;
    cursor: pointer;
}
.all-images img:hover{

}
.all-images li{
    float: left;
    height:60px;
    width: 80px;
    border-left: 1px solid red;
    list-style: none;
    overflow: hidden;
    margin-left: 3px;
}
.all-images li:first-child{
    margin-left: 0;
}
.but{
    width: 20px;
    height: 100%;
    opacity: 0.5;
    cursor: pointer;
}
.left{
    float: left;
    background: #333 url('../images/left.png') no-repeat center;
    opacity: 0.1;
}
.right{
    float: right;
    background: #333 url('../images/right.png') no-repeat center;
}